.pmh1{
    /* border: 2px solid red; */
    width:620px ;
    /* margin-left: 20px; */
}
.pmtext{
    /* border: 2px solid red; */
    margin-left: 145px;
    width: 622px;
}

.pms2h1{
    /* border: 2px solid red; */
    width: 1000px;
}

.final-card-img{
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}